.fs-4{
  font-size: 14px;
}
.fs-3{
  font-size: 18px;
}
.fs-2{
  font-size: 20px;
}
.fs-1{
  font-size: 24px;
}


.h5{
  font-size: 32px;
}
.h4{
  font-size: 36px;
}
.h3{
  font-size: 42px;
}
.h2{
  font-size: 48px;
}
.h1{
  font-size: 64px;
}


.fw-bold{
  font-weight: bold;
}
.ff-roboto{
  font-family: "Roboto", sans-serif;
}
.ff-noto-sans{
  font-family: "Noto Sans TC", sans-serif;
}